PKUBASE/pkubase-complete.txt
src/chinese_L-12_H-768_A-12/vocab.txt
src/chinese_L-12_H-768_A-12/bert_model.ckpt.meta
src/chinese_L-12_H-768_A-12/bert_model.ckpt.index
src/chinese_L-12_H-768_A-12/bert_model.ckpt.data-00000-of-00001
src/chinese_L-12_H-768_A-12/bert_config.json
PKUBASE/pkubase-mention2ent.txt
